<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Document</title>
</head>
<body>
<h2>Insert Document</h2>
    <form method="post">
        <label>Index Name: </label><input name="index_name" type="text" required>
        <label>Document ID: </label><input name="id_number" type="text" required>
        <br><br>
        <label>City: </label><input name="city" type="text" required><br>
        <label>Population: </label><input name="population" type="number" required><br>
        <input type="submit" value="Insert">
        <br>
        <br>
        <pre id="json">{{ response }}</pre>
    </form>

</body>
</html>