<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Document</title>
</head>
<body>
<h2>Read Document</h2>
    <form method="post">
        <label>Index Name: </label><input name="index_name" type="text" required>
        <label>Document ID: </label><input name="id_number" type="text" required>
        <input type="submit" value="Read">
        <br>
        <br>
        <pre id="json">{{ result }}</pre>
        {% if result._source %}
        <ol>
            {% for key, value in result._source.items() %}
            <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ol>
        {% endif %}
    </form>

</body>
</html>