<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Documents</title>
</head>
<body>
<h2>Search Documents</h2>
    <form method="post">
        <label>Index Name: </label><input name="index_name" type="text" required>
        <br><br>
        <label>Search: </label><input name="search_string" type="text" required>
        <input type="submit" value="Search">
        <br><br>
        <pre id="json">Raw JSON: {{ result }}</pre><br>
        <strong>Total Hits:</strong> {{ result.hits.total.value }}
        <ol>
            {% for value in result.hits.hits %}
            <li>ID: {{ value._id }}, Name: {{ value._source.name }}, Score: {{ value._score }}</li>
            {% endfor %}
        </ol>
    </form>

</body>
</html>