<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Document</title>
</head>
<body>
<h2>Update Document</h2>
    <form method="post">
        <label>Index Name: </label><input name="index_name" type="text" required>
        <label>Document ID: </label><input name="id_number" type="text" required>
        <br><br>
        <label>Field Name: </label><input name="field_name" type="text" required>
        <label>Field Value: </label><input name="field_value" required>
        <input type="submit" value="Update">
        <br>
        <br>
        <pre id="json">{{ response }}</pre>
    </form>

</body>
</html>